### Testing if Notebook is running properly in this Venv

In [7]:
print("Hello, World")
print("Notebook is running")

Hello, World
Notebook is running

### Testing if Pyspark is working

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
if spark:
    print("Spark is working")
spark.stop()

Spark is working

### Read files from given path

In [1]:
import os

# Get the current working directory
current_dir = os.getcwd()
# print("Current directory:", current_dir)
# Get the parent directory
parent_dir = os.path.dirname(current_dir)
# print("Parent directory:",parent_dir)

In [2]:
root_dir = os.path.dirname(os.getcwd())
# print("Root directory:",root_dir)

In [3]:
input_path = f"{parent_dir}\data\input"
# print("input path:",input_path)

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

charges_path = f"{input_path}\Charges_use.csv"
charges_df = spark.read.csv(charges_path, header=True)

# Show and write the data
charges_df.show()
spark.stop()

+--------+--------+--------+--------------------+------------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|              CHARGE|CITATION_NBR|
+--------+--------+--------+--------------------+------------+
|14768622|       1|       1|DRIVING WHILE INT...|        NULL|
|14838637|       1|       1|                 DWI|  1600000015|
|14838641|       1|       1|RAN RED LIGHT SOL...|      L20440|
|14838641|       2|       1|NO DRIVER'S LICEN...|      L23141|
|14838668|       1|       1|DRIVING WHILE INT...|TX4IC50SRJD3|
|14838669|       2|       1|     DWI W/BAC >.015| 2015-000006|
|14838670|       1|       1|DRIVING WHILE INT...| 2016-000003|
|14838685|       1|       1|FAILED TO DRIVE S...|   138434825|
|14838693|       1|       1|DRIVING WHILE INT...|TX4IC60UKQND|
|14838768|       2|       1|                 DWI|        NULL|
|14838834|       1|       1|  NO DRIVERS LICENSE|    10019200|
|14838834|       1|       1|FAIL TO CONTROL S...|    10019200|
|14838834|       1|       1|   LEAVING THE SCENE|    10019200|
|14838841|       1|       1|       FTLI   / DWLI|    16-43861|
|14838841|       1|       1|LEAVING SCENE OF ...|    16-43861|
|14838841|       1|       1|FAIL TO DRIVE IN ...|    16-43861|
|14838841|       1|       1|FAIL TO REPORT AC...|    16-43861|
|14838842|       1|       1|LEAVING SCENE OF ...|    16-43859|
|14838842|       1|       1|FAIL TO REPORT AC...|    16-43859|
|14838842|       1|       1|FAIL TO DRIVE IN ...|    16-43859|
+--------+--------+--------+--------------------+------------+
only showing top 20 rows

### Data Exploration

In [13]:
import pandas as pd

In [14]:
files = ['Charges_use.csv', 'Damages_use.csv', 'Endorse_use.csv', 'Primary_Person_use.csv', 'Restrict_use.csv', 'Units_use.csv']
dfs = ['charges_df', 'damages_df', 'endorse_df', 'primper_df', 'Restrict_df', 'Units_df']

charges_df = pd.read_csv(f"{input_path}/Charges_use.csv")
charges_df.head()

,CRASH_ID,UNIT_NBR,PRSN_NBR,CHARGE,CITATION_NBR
0,14768622,1,1,DRIVING WHILE INTOXICATED,NaN
1,14838637,1,1,DWI,1600000015
2,14838641,1,1,RAN RED LIGHT SOLID (TC 544.007),L20440
3,14838641,2,1,NO DRIVER'S LICENSE (TC521.025),L23141
4,14838668,1,1,DRIVING WHILE INTOXICATED,TX4IC50SRJD3

In [15]:
charges_df.shape

(116110, 5)

In [16]:
# Get statistical info
charges_df.info()

# Get null value counts
null_counts = charges_df.isna().sum()

print(null_counts)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116110 entries, 0 to 116109
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CRASH_ID      116110 non-null  int64
 1   UNIT_NBR      116110 non-null  int64
 2   PRSN_NBR      116110 non-null  int64
 3   CHARGE        116006 non-null  object
 4   CITATION_NBR  108751 non-null  object
dtypes: int64(3), object(2)
memory usage: 4.4+ MB
CRASH_ID           0
UNIT_NBR           0
PRSN_NBR           0
CHARGE           104
CITATION_NBR    7359
dtype: int64

In [17]:
charges_df.CHARGE.value_counts()

CHARGE
FAIL TO CONTROL SPEED                                           12852
DRIVING WHILE INTOXICATED                                        4692
UNSAFE SPEED                                                     4627
NO DRIVERS LICENSE                                               3478
FAILED TO CONTROL SPEED                                          2882
                                                                ...
WARNING ISSUED FOR CHANGED LANES WHEN UNSAFE                        1
FAILED TO YIELD ROW STOOP SIGN                                      1
FAILED TO CONTROL,RAN STOP SIGN,FAILED TO YIELD ROW STOOP SI        1
PASSING TO LEFT, RETURN, BEING PASSED                               1
NO DRIVER'S LICENSE (TC521.025)                                     1
Name: count, Length: 18771, dtype: int64

In [83]:
a = charges_df[charges_df["CHARGE"].str.contains("SPEED", case=False, na=False)]
a.CHARGE.value_counts()

CHARGE
FAIL TO CONTROL SPEED                                           12852
UNSAFE SPEED                                                     4627
FAILED TO CONTROL SPEED                                          2882
FAILURE TO CONTROL SPEED                                         1707
FAILED TO CONTROL SPEED (ACCIDENT)                                180
                                                                ...
FTC SPEED ACCIDENT                                                  1
FAILED TO CONTROL SPEED, NO D.L., DUTY ON STRIKING FIXED OBJ        1
FAILURE TO CONTROL SPEED--TXTRC 545.351                             1
FAILURE TO CONTROL MOTOR VEHICLE (SPEED), INVALID DL                1
NO OPERATOR'S LICENSE, FAILURE TO CONTROL SPEED                     1
Name: count, Length: 1299, dtype: int64

In [18]:
charges_df.isna().sum().sort_values(ascending = False)

CITATION_NBR    7359
CHARGE           104
CRASH_ID           0
PRSN_NBR           0
UNIT_NBR           0
dtype: int64

In [19]:
damages_df = pd.read_csv(f"{input_path}/Damages_use.csv")
damages_df.head()

   CRASH_ID DAMAGED_PROPERTY
0  14768622          MAILBOX
1  14768622      YARD, GRASS
2  14838668        GUARDRAIL
3  14838685        ROAD SIGN
4  14838693     2009 MAZDA 3

In [20]:
damages_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24950 entries, 0 to 24949
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CRASH_ID          24950 non-null  int64
 1   DAMAGED_PROPERTY  24944 non-null  object
dtypes: int64(1), object(1)
memory usage: 390.0+ KB

In [21]:
damages_df.shape

(24950, 2)

In [77]:
damages_df.DAMAGED_PROPERTY.value_counts()

DAMAGED_PROPERTY
FENCE                                    1411
GUARD RAIL                                687
LIGHT POLE                                588
MAILBOX                                   524
GUARDRAIL                                 524
                                         ...
DAMAGED POLE# 661729                        1
CONTRETE BARRIAR - SCUFFS                   1
CRASH BARREL'S                              1
CALIBER CONTROL, INC.  PROPERTY FENCE       1
TRAFFIC SIGN POLE                           1
Name: count, Length: 10302, dtype: int64

In [22]:
damages_df.isna().sum().sort_values(ascending = False)

DAMAGED_PROPERTY    6
CRASH_ID            0
dtype: int64

In [23]:
endorse_df = pd.read_csv(f"{input_path}/Endorse_use.csv")
endorse_df.head()

   CRASH_ID  UNIT_NBR DRVR_LIC_ENDORS_ID
0  14768622         1               NONE
1  14838637         1               NONE
2  14838637         2               NONE
3  14838641         1               NONE
4  14838641         2         UNLICENSED

In [24]:
endorse_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159818 entries, 0 to 159817
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CRASH_ID            159818 non-null  int64
 1   UNIT_NBR            159818 non-null  int64
 2   DRVR_LIC_ENDORS_ID  159818 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.7+ MB

In [25]:
endorse_df.shape

(159818, 3)

In [26]:
endorse_df.isna().sum().sort_values(ascending = False)

CRASH_ID              0
UNIT_NBR              0
DRVR_LIC_ENDORS_ID    0
dtype: int64

In [27]:
primper_df = pd.read_csv(f"{input_path}/Primary_Person_use.csv")
primper_df.head()

,CRASH_ID,UNIT_NBR,PRSN_NBR,PRSN_TYPE_ID,PRSN_OCCPNT_POS_ID,PRSN_INJRY_SEV_ID,PRSN_AGE,PRSN_ETHNICITY_ID,PRSN_GNDR_ID,PRSN_EJCT_ID,...,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT,DRVR_LIC_TYPE_ID,DRVR_LIC_STATE_ID,DRVR_LIC_CLS_ID,DRVR_ZIP
0,14768622,1,1,DRIVER,FRONT LEFT,NOT INJURED,27.0,HISPANIC,MALE,NO,...,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,77357
1,14838637,1,1,DRIVER,FRONT LEFT,NOT INJURED,31.0,WHITE,MALE,NO,...,0,0,1,0,0,0,DRIVER LICENSE,New York,OTHER/OUT OF STATE,13830
2,14838637,2,1,DRIVER,FRONT LEFT,NOT INJURED,41.0,BLACK,MALE,NO,...,0,0,1,0,0,0,COMMERCIAL DRIVER LIC.,Texas,CLASS A,78934
3,14838641,1,1,DRIVER,FRONT LEFT,POSSIBLE INJURY,32.0,WHITE,MALE,NO,...,0,1,0,0,1,0,DRIVER LICENSE,Texas,CLASS C,76520
4,14838641,2,1,DRIVER,FRONT LEFT,NON-INCAPACITATING INJURY,34.0,BLACK,FEMALE,NO,...,1,0,0,0,1,0,ID CARD,Texas,UNLICENSED,76707

In [28]:
primper_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156954 entries, 0 to 156953
Data columns (total 32 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CRASH_ID               156954 non-null  int64
 1   UNIT_NBR               156954 non-null  int64
 2   PRSN_NBR               156954 non-null  int64
 3   PRSN_TYPE_ID           156954 non-null  object
 4   PRSN_OCCPNT_POS_ID     156954 non-null  object
 5   PRSN_INJRY_SEV_ID      156935 non-null  object
 6   PRSN_AGE               154924 non-null  float64
 7   PRSN_ETHNICITY_ID      156680 non-null  object
 8   PRSN_GNDR_ID           156935 non-null  object
 9   PRSN_EJCT_ID           156935 non-null  object
 10  PRSN_REST_ID           156935 non-null  object
 11  PRSN_AIRBAG_ID         156935 non-null  object
 12  PRSN_HELMET_ID         156954 non-null  object
 13  PRSN_SOL_FL            156935 non-null  object
 14  PRSN_ALC_SPEC_TYPE_ID  156935 non-null  object
 15  PRSN_ALC_RSLT_ID       8243 non-null    object
 16  PRSN_BAC_TEST_RSLT     8243 non-null    float64
 17  PRSN_DRG_SPEC_TYPE_ID  156935 non-null  object
 18  PRSN_DRG_RSLT_ID       156935 non-null  object
 19  DRVR_DRG_CAT_1_ID      156935 non-null  object
 20  PRSN_DEATH_TIME        246 non-null     object
 21  INCAP_INJRY_CNT        156954 non-null  int64
 22  NONINCAP_INJRY_CNT     156954 non-null  int64
 23  POSS_INJRY_CNT         156954 non-null  int64
 24  NON_INJRY_CNT          156954 non-null  int64
 25  UNKN_INJRY_CNT         156954 non-null  int64
 26  TOT_INJRY_CNT          156954 non-null  int64
 27  DEATH_CNT              156954 non-null  int64
 28  DRVR_LIC_TYPE_ID       156088 non-null  object
 29  DRVR_LIC_STATE_ID      147100 non-null  object
 30  DRVR_LIC_CLS_ID        156088 non-null  object
 31  DRVR_ZIP               152528 non-null  object
dtypes: float64(2), int64(10), object(20)
memory usage: 38.3+ MB

In [29]:
primper_df.shape

(156954, 32)

In [53]:
primper_df[primper_df["DEATH_CNT"] == 1]

,CRASH_ID,UNIT_NBR,PRSN_NBR,PRSN_TYPE_ID,PRSN_OCCPNT_POS_ID,PRSN_INJRY_SEV_ID,PRSN_AGE,PRSN_ETHNICITY_ID,PRSN_GNDR_ID,PRSN_EJCT_ID,...,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT,DRVR_LIC_TYPE_ID,DRVR_LIC_STATE_ID,DRVR_LIC_CLS_ID,DRVR_ZIP
1187,14848300,2,1,DRIVER,FRONT LEFT,KILLED,38.0,WHITE,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,76574
2079,14851818,2,1,DRIVER,FRONT LEFT,KILLED,29.0,HISPANIC,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,78202
2121,14851954,2,1,DRIVER,FRONT LEFT,KILLED,26.0,WHITE,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,79849
2314,14852533,2,1,PEDESTRIAN,"PEDESTRIAN, PEDALCYCLIST, OR MOTORIZED CONVEYANCE",KILLED,37.0,BLACK,MALE,NOT APPLICABLE,...,0,0,0,0,0,1,DRIVER LICENSE,Mississippi,OTHER/OUT OF STATE,38930
2644,14854567,3,1,DRIVER,FRONT LEFT,KILLED,77.0,BLACK,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,77412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154124,15503748,1,1,DRIVER,FRONT LEFT,KILLED,97.0,HISPANIC,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,79930
154489,15506999,1,1,DRIVER,FRONT LEFT,KILLED,57.0,BLACK,MALE,NO,...,0,0,0,0,0,1,COMMERCIAL DRIVER LIC.,Texas,CLASS A,75860
154992,15511556,1,1,DRIVER,FRONT LEFT,KILLED,88.0,WHITE,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,79057
155420,15515080,2,1,PEDESTRIAN,"PEDESTRIAN, PEDALCYCLIST, OR MOTORIZED CONVEYANCE",KILLED,41.0,WHITE,MALE,NOT APPLICABLE,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,77662
155493,15515566,2,1,DRIVER,FRONT LEFT,KILLED,80.0,WHITE,FEMALE,YES,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,79323

In [30]:
primper_df[primper_df["CRASH_ID"] == 15427361]

,CRASH_ID,UNIT_NBR,PRSN_NBR,PRSN_TYPE_ID,PRSN_OCCPNT_POS_ID,PRSN_INJRY_SEV_ID,PRSN_AGE,PRSN_ETHNICITY_ID,PRSN_GNDR_ID,PRSN_EJCT_ID,...,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT,DRVR_LIC_TYPE_ID,DRVR_LIC_STATE_ID,DRVR_LIC_CLS_ID,DRVR_ZIP
144498,15427361,1,1,DRIVER,FRONT LEFT,NOT INJURED,50.0,HISPANIC,MALE,NO,...,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,75080
144499,15427361,3,1,PEDESTRIAN,"PEDESTRIAN, PEDALCYCLIST, OR MOTORIZED CONVEYANCE",KILLED,52.0,BLACK,FEMALE,NOT APPLICABLE,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,75347
144500,15427361,4,1,PEDESTRIAN,"PEDESTRIAN, PEDALCYCLIST, OR MOTORIZED CONVEYANCE",KILLED,42.0,BLACK,MALE,NOT APPLICABLE,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS A,76028

In [31]:
primper_df.groupby("CRASH_ID")['DEATH_CNT'].sum().sort_values(ascending = False)

CRASH_ID
15070158    2
15231664    2
15379024    2
15427361    2
15429998    2
           ..
15717801    0
15717802    0
15717806    0
15717807    0
14838641    0
Name: DEATH_CNT, Length: 83805, dtype: int64

In [50]:
primper_df["PRSN_AIRBAG_ID"].unique()

array(['DEPLOYED MULTIPLE', 'NOT DEPLOYED', 'DEPLOYED, FRONT',
       'NOT APPLICABLE', 'DEPLOYED, SIDE', 'UNKNOWN', nan,
       'DEPLOYED, REAR'], dtype=object)

In [51]:
primper_df["DRVR_LIC_TYPE_ID"].unique()

array(['DRIVER LICENSE', 'COMMERCIAL DRIVER LIC.', 'ID CARD', 'UNKNOWN',
       'UNLICENSED', 'OTHER', nan, 'OCCUPATIONAL'], dtype=object)

In [32]:
primper_df.isna().sum().sort_values(ascending = False)

PRSN_DEATH_TIME          156708
PRSN_ALC_RSLT_ID         148711
PRSN_BAC_TEST_RSLT       148711
DRVR_LIC_STATE_ID          9854
DRVR_ZIP                   4426
PRSN_AGE                   2030
DRVR_LIC_CLS_ID             866
DRVR_LIC_TYPE_ID            866
PRSN_ETHNICITY_ID           274
PRSN_SOL_FL                  19
PRSN_ALC_SPEC_TYPE_ID        19
PRSN_INJRY_SEV_ID            19
PRSN_EJCT_ID                 19
PRSN_REST_ID                 19
PRSN_GNDR_ID                 19
PRSN_AIRBAG_ID               19
DRVR_DRG_CAT_1_ID            19
PRSN_DRG_SPEC_TYPE_ID        19
PRSN_DRG_RSLT_ID             19
PRSN_NBR                      0
PRSN_TYPE_ID                  0
PRSN_OCCPNT_POS_ID            0
UNIT_NBR                      0
CRASH_ID                      0
PRSN_HELMET_ID                0
POSS_INJRY_CNT                0
INCAP_INJRY_CNT               0
NONINCAP_INJRY_CNT            0
DEATH_CNT                     0
TOT_INJRY_CNT                 0
UNKN_INJRY_CNT                0
NON_INJRY_CNT                 0
dtype: int64

In [59]:
primper_df["PRSN_ALC_RSLT_ID"].unique()

array(['Positive', nan, 'Negative'], dtype=object)

In [33]:
Restrict_df = pd.read_csv(f"{input_path}/Restrict_use.csv")
Restrict_df.head()

   CRASH_ID  UNIT_NBR     DRVR_LIC_RESTRIC_ID
0  14768622         1                    NONE
1  14838637         1      OTHER/OUT OF STATE
2  14838637         2                    NONE
3  14838641         1  WITH CORRECTIVE LENSES
4  14838641         2              UNLICENSED

In [34]:
Restrict_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159852 entries, 0 to 159851
Data columns (total 3 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CRASH_ID             159852 non-null  int64
 1   UNIT_NBR             159852 non-null  int64
 2   DRVR_LIC_RESTRIC_ID  159852 non-null  object
dtypes: int64(2), object(1)
memory usage: 3.7+ MB

In [35]:
Restrict_df.shape

(159852, 3)

In [36]:
Restrict_df.isna().sum().sort_values(ascending = False)

CRASH_ID               0
UNIT_NBR               0
DRVR_LIC_RESTRIC_ID    0
dtype: int64

In [37]:
Units_df = pd.read_csv(f"{input_path}/Units_use.csv")
Units_df.head()

C:\Users\ameys\AppData\Local\Temp\ipykernel_8888\2993751959.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  Units_df = pd.read_csv(f"{input_path}/Units_use.csv")

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,...,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
0,14768622,1,MOTOR VEHICLE,N,N,TX,4S2CK57D1X4381118,1999.0,GRY,ISUZU,...,NaN,EAST,Y,0,0,0,1,0,0,0
1,14838637,1,MOTOR VEHICLE,N,N,TX,WVWAN7AN6DE536582,NaN,GRY,VOLKSWAGEN,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
2,14838637,2,MOTOR VEHICLE,N,N,TX,1FUJA6CG24LM14889,2004.0,RED,FREIGHTLINER,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
3,14838637,2,MOTOR VEHICLE,N,N,TX,1FUJA6CG24LM14889,2004.0,RED,FREIGHTLINER,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
4,14838637,3,TOWED/TRAILER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NOT APPLICABLE,N,0,0,0,0,0,0,0

In [38]:
Units_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173499 entries, 0 to 173498
Data columns (total 37 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CRASH_ID               173499 non-null  int64
 1   UNIT_NBR               173499 non-null  int64
 2   UNIT_DESC_ID           173499 non-null  object
 3   VEH_PARKED_FL          167763 non-null  object
 4   VEH_HNR_FL             167763 non-null  object
 5   VEH_LIC_STATE_ID       167434 non-null  object
 6   VIN                    165800 non-null  object
 7   VEH_MOD_YEAR           97552 non-null   float64
 8   VEH_COLOR_ID           167306 non-null  object
 9   VEH_MAKE_ID            167265 non-null  object
 10  VEH_MOD_ID             159460 non-null  object
 11  VEH_BODY_STYL_ID       167756 non-null  object
 12  EMER_RESPNDR_FL        167763 non-null  object
 13  OWNR_ZIP               167461 non-null  object
 14  FIN_RESP_PROOF_ID      166904 non-null  object
 15  FIN_RESP_TYPE_ID       152369 non-null  object
 16  VEH_DMAG_AREA_1_ID     164274 non-null  object
 17  VEH_DMAG_SCL_1_ID      163956 non-null  object
 18  FORCE_DIR_1_ID         153470 non-null  float64
 19  VEH_DMAG_AREA_2_ID     38154 non-null   object
 20  VEH_DMAG_SCL_2_ID      38110 non-null   object
 21  FORCE_DIR_2_ID         33582 non-null   float64
 22  VEH_INVENTORIED_FL     165291 non-null  object
 23  VEH_TRANSP_NAME        124908 non-null  object
 24  VEH_TRANSP_DEST        117715 non-null  object
 25  CONTRIB_FACTR_1_ID     169820 non-null  object
 26  CONTRIB_FACTR_2_ID     23663 non-null   object
 27  CONTRIB_FACTR_P1_ID    19940 non-null   object
 28  VEH_TRVL_DIR_ID        173499 non-null  object
 29  FIRST_HARM_EVT_INV_ID  173499 non-null  object
 30  INCAP_INJRY_CNT        173499 non-null  int64
 31  NONINCAP_INJRY_CNT     173499 non-null  int64
 32  POSS_INJRY_CNT         173499 non-null  int64
 33  NON_INJRY_CNT          173499 non-null  int64
 34  UNKN_INJRY_CNT         173499 non-null  int64
 35  TOT_INJRY_CNT          173499 non-null  int64
 36  DEATH_CNT              173499 non-null  int64
dtypes: float64(3), int64(9), object(25)
memory usage: 49.0+ MB

In [64]:
Units_df['FIN_RESP_TYPE_ID'].unique()

array([nan, 'PROOF OF LIABILITY INSURANCE', 'LIABILITY INSURANCE POLICY',
       'CERTIFICATE OF SELF-INSURANCE', 'SURETY BOND', 'INSURANCE BINDER',
       'CERTIFICATE OF DEPOSIT WITH COMPTROLLER',
       'CERTIFICATE OF DEPOSIT WITH COUNTY JUDGE'], dtype=object)

In [61]:
Units_df['VEH_DMAG_SCL_2_ID'].unique()

array(['DAMAGED 4', nan, 'DAMAGED 2', 'NO DAMAGE', 'DAMAGED 1 MINIMUM',
       'DAMAGED 3', 'DAMAGED 6', 'DAMAGED 5', 'DAMAGED 7 HIGHEST',
       'INVALID VALUE'], dtype=object)

In [62]:
Units_df['VEH_DMAG_SCL_1_ID'].unique()

array(['DAMAGED 3', 'DAMAGED 2', nan, 'DAMAGED 4', 'DAMAGED 1 MINIMUM',
       'DAMAGED 6', 'DAMAGED 5', 'NO DAMAGE', 'DAMAGED 7 HIGHEST',
       'INVALID VALUE'], dtype=object)

In [52]:
Units_df['VEH_HNR_FL'].unique()

array(['N', nan, 'Y'], dtype=object)

In [49]:
Units_df['UNIT_DESC_ID'].unique()

array(['MOTOR VEHICLE', 'TOWED/TRAILER', 'NON-CONTACT', 'PEDESTRIAN',
       'OTHER  (EXPLAIN IN NARRATIVE)', 'TRAIN', 'PEDALCYCLIST',
       'MOTORIZED CONVEYANCE'], dtype=object)

In [48]:
Units_df['VEH_BODY_STYL_ID'].unique()

array(['PASSENGER CAR, 4-DOOR', 'TRUCK', nan, 'SPORT UTILITY VEHICLE',
       'PICKUP', 'PASSENGER CAR, 2-DOOR', 'VAN', 'POLICE CAR/TRUCK',
       'OTHER  (EXPLAIN IN NARRATIVE)', 'MOTORCYCLE', 'UNKNOWN', 'BUS',
       'TRUCK TRACTOR', 'YELLOW SCHOOL BUS', 'FARM EQUIPMENT',
       'FIRE TRUCK', 'NEV-NEIGHBORHOOD ELECTRIC VEHICLE', 'AMBULANCE',
       'POLICE MOTORCYCLE', 'NOT REPORTED'], dtype=object)

In [40]:
Units_df.shape

(173499, 37)

In [41]:
Units_df.isna().sum().sort_values(ascending = False)

CONTRIB_FACTR_P1_ID      153559
CONTRIB_FACTR_2_ID       149836
FORCE_DIR_2_ID           139917
VEH_DMAG_SCL_2_ID        135389
VEH_DMAG_AREA_2_ID       135345
VEH_MOD_YEAR              75947
VEH_TRANSP_DEST           55784
VEH_TRANSP_NAME           48591
FIN_RESP_TYPE_ID          21130
FORCE_DIR_1_ID            20029
VEH_MOD_ID                14039
VEH_DMAG_SCL_1_ID          9543
VEH_DMAG_AREA_1_ID         9225
VEH_INVENTORIED_FL         8208
VIN                        7699
FIN_RESP_PROOF_ID          6595
VEH_MAKE_ID                6234
VEH_COLOR_ID               6193
VEH_LIC_STATE_ID           6065
OWNR_ZIP                   6038
VEH_BODY_STYL_ID           5743
VEH_HNR_FL                 5736
EMER_RESPNDR_FL            5736
VEH_PARKED_FL              5736
CONTRIB_FACTR_1_ID         3679
UNIT_NBR                      0
UNIT_DESC_ID                  0
CRASH_ID                      0
VEH_TRVL_DIR_ID               0
FIRST_HARM_EVT_INV_ID         0
INCAP_INJRY_CNT               0
NONINCAP_INJRY_CNT            0
POSS_INJRY_CNT                0
NON_INJRY_CNT                 0
UNKN_INJRY_CNT                0
TOT_INJRY_CNT                 0
DEATH_CNT                     0
dtype: int64

In [54]:
Units_df.DEATH_CNT.value_counts()

DEATH_CNT
0    173210
1       268
2        19
4         1
3         1
Name: count, dtype: int64

In [55]:
Units_df.TOT_INJRY_CNT.value_counts()

TOT_INJRY_CNT
0     137056
1      32507
2       2757
3        738
4        267
5        118
6         27
7         14
11         4
10         4
31         2
15         2
8          2
9          1
Name: count, dtype: int64

In [57]:
Units_df[Units_df["TOT_INJRY_CNT"]==9]

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,...,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
15381,14896012,2,MOTOR VEHICLE,N,N,TX,JM3LW28G9Y0117975,2000.0,GRY,MAZDA,...,NaN,WEST,Y,0,1,8,0,0,9,0

In [42]:
Units_df.VEH_BODY_STYL_ID.value_counts()

VEH_BODY_STYL_ID
PASSENGER CAR, 4-DOOR                65559
PICKUP                               36799
SPORT UTILITY VEHICLE                33310
PASSENGER CAR, 2-DOOR                11033
TRUCK TRACTOR                         6532
VAN                                   5659
TRUCK                                 4534
UNKNOWN                               1631
MOTORCYCLE                             781
OTHER  (EXPLAIN IN NARRATIVE)          516
BUS                                    463
POLICE CAR/TRUCK                       399
YELLOW SCHOOL BUS                      279
FIRE TRUCK                             106
AMBULANCE                               87
FARM EQUIPMENT                          57
NEV-NEIGHBORHOOD ELECTRIC VEHICLE        6
POLICE MOTORCYCLE                        3
NOT REPORTED                             2
Name: count, dtype: int64

1. Analytics 1: Find the number of crashes (accidents) in which number of males killed are greater than 2?

In [43]:
# Step 1: Filter for male records
male_deaths = primper_df[
    (primper_df['PRSN_GNDR_ID'] == 'MALE') & (primper_df['PRSN_INJRY_SEV_ID'] == "KILLED")
]

male_deaths

,CRASH_ID,UNIT_NBR,PRSN_NBR,PRSN_TYPE_ID,PRSN_OCCPNT_POS_ID,PRSN_INJRY_SEV_ID,PRSN_AGE,PRSN_ETHNICITY_ID,PRSN_GNDR_ID,PRSN_EJCT_ID,...,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT,DRVR_LIC_TYPE_ID,DRVR_LIC_STATE_ID,DRVR_LIC_CLS_ID,DRVR_ZIP
1187,14848300,2,1,DRIVER,FRONT LEFT,KILLED,38.0,WHITE,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,76574
2079,14851818,2,1,DRIVER,FRONT LEFT,KILLED,29.0,HISPANIC,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,78202
2121,14851954,2,1,DRIVER,FRONT LEFT,KILLED,26.0,WHITE,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,79849
2314,14852533,2,1,PEDESTRIAN,"PEDESTRIAN, PEDALCYCLIST, OR MOTORIZED CONVEYANCE",KILLED,37.0,BLACK,MALE,NOT APPLICABLE,...,0,0,0,0,0,1,DRIVER LICENSE,Mississippi,OTHER/OUT OF STATE,38930
2644,14854567,3,1,DRIVER,FRONT LEFT,KILLED,77.0,BLACK,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,77412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153982,15502739,2,1,PEDESTRIAN,"PEDESTRIAN, PEDALCYCLIST, OR MOTORIZED CONVEYANCE",KILLED,53.0,WHITE,MALE,NOT APPLICABLE,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,78745
154124,15503748,1,1,DRIVER,FRONT LEFT,KILLED,97.0,HISPANIC,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,79930
154489,15506999,1,1,DRIVER,FRONT LEFT,KILLED,57.0,BLACK,MALE,NO,...,0,0,0,0,0,1,COMMERCIAL DRIVER LIC.,Texas,CLASS A,75860
154992,15511556,1,1,DRIVER,FRONT LEFT,KILLED,88.0,WHITE,MALE,NO,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,79057
155420,15515080,2,1,PEDESTRIAN,"PEDESTRIAN, PEDALCYCLIST, OR MOTORIZED CONVEYANCE",KILLED,41.0,WHITE,MALE,NOT APPLICABLE,...,0,0,0,0,0,1,DRIVER LICENSE,Texas,CLASS C,77662

In [44]:
# Step 2: Group by CRASH_ID and sum the DEATH_CNT for each crash
crash_male_death_count = male_deaths.groupby('CRASH_ID')['DEATH_CNT'].count().reset_index()

crash_male_death_count["DEATH_CNT"].sort_values(ascending=False)

157    2
149    2
0      1
1      1
4      1
      ..
175    1
176    1
177    1
178    1
179    1
Name: DEATH_CNT, Length: 180, dtype: int64

In [45]:
# Step 3: Filter for crashes where the male death count is greater than 2
crashes_with_more_than_2_male_deaths = crash_male_death_count[crash_male_death_count['DEATH_CNT'] > 2]

crashes_with_more_than_2_male_deaths

Empty DataFrame
Columns: [CRASH_ID, DEATH_CNT]
Index: []

In [46]:
# Step 4: Count the number of such crashes
number_of_crashes = crashes_with_more_than_2_male_deaths['CRASH_ID'].nunique()

print("Number of crashes with more than 2 males killed:", number_of_crashes)

Number of crashes with more than 2 males killed: 0

In [47]:
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.getOrCreate()

input_path = os.path.join(
            os.path.dirname(os.getcwd()), "data", "input")

primary_person_path = f"{input_path}\Primary_Person_use.csv"
primary_person_df = spark.read.csv(primary_person_path, header=True)
primary_person_df.show()

# Step 1: Filter for male records
male_deaths = primary_person_df.filter(col("PRSN_GNDR_ID") == "MALE")

# Step 2: Group by CRASH_ID and sum the DEATH_CNT for each crash
crash_male_death_count = male_deaths.groupBy("CRASH_ID").agg(sum("DEATH_CNT").alias("total_male_deaths"))

# Step 3: Filter for crashes where the male death count is greater than 2
crashes_with_more_than_2_male_deaths = crash_male_death_count.filter(col("total_male_deaths") > 2)

# Step 4: Count the number of such crashes
number_of_crashes = crashes_with_more_than_2_male_deaths.count()

print("Number of crashes with more than 2 males killed:", number_of_crashes)
spark.stop()

+--------+--------+--------+------------+------------------+--------------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|PRSN_TYPE_ID|PRSN_OCCPNT_POS_ID|   PRSN_INJRY_SEV_ID|PRSN_AGE|PRSN_ETHNICITY_ID|PRSN_GNDR_ID|PRSN_EJCT_ID|       PRSN_REST_ID|   PRSN_AIRBAG_ID|PRSN_HELMET_ID|PRSN_SOL_FL|PRSN_ALC_SPEC_TYPE_ID|PRSN_ALC_RSLT_ID|PRSN_BAC_TEST_RSLT|PRSN_DRG_SPEC_TYPE_ID|PRSN_DRG_RSLT_ID|DRVR_DRG_CAT_1_ID|PRSN_DEATH_TIME|INCAP_INJRY_CNT|NONINCAP_INJRY_CNT|POSS_INJRY_CNT|NON_INJRY_CNT|UNKN_INJRY_CNT|TOT_INJRY_CNT|DEATH_CNT|    DRVR_LIC_TYPE_ID|DRVR_LIC_STATE_ID|   DRVR_LIC_CLS_ID|DRVR_ZIP|
+--------+--------+--------+------------+------------------+--------------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
|14768622|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      27|         HISPANIC|        MALE|          NO|               NONE|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                BLOOD|        Positive|             0.225|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   77357|
|14838637|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      31|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|               BREATH|        Positive|              0.21|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|         New York|OTHER/OUT OF STATE|   13830|
|14838637|       2|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      41|            BLACK|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|COMMERCIAL DRIVER...|            Texas|           CLASS A|   78934|
|14838641|       1|       1|      DRIVER|        FRONT LEFT|     POSSIBLE INJURY|      32|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             1|            0|             0|            1|        0|      DRIVER LICENSE|            Texas|           CLASS C|   76520|
|14838641|       2|       1|      DRIVER|        FRONT LEFT|NON-INCAPACITATIN...|      34|            BLACK|      FEMALE|          NO|SHOULDER & LAP BELT|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 1|             0|            0|             0|            1|        0|             ID CARD|            Texas|        UNLICENSED|   76707|
|14838668|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      24|         HISPANIC|        MALE|          NO|SHOULDER & LAP BELT|  DEPLOYED, FRONT|NOT APPLICABLE|          N|               BREATH|        Positive|             0.178|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   78076|
|14838669|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      53|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   76053|
|14838669|       2|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      24|            WHITE|        MALE|          NO|            UNKNOWN|  DEPLOYED, FRONT|NOT APPLICABLE|          N|               BREATH|        Positive|             0.219|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   76118|
|14838670|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      23|            WHITE|        MALE|          NO|               NONE|     NOT DEPLOYED|NOT APPLICABLE|          N|                BLOOD|        Positive|              0.16|                BLOOD|         UNKNOWN|          UNKNOWN|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   75050|
|14838685|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      27|            BLACK|      FEMALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|             ID CARD|            Texas|        UNLICENSED|   77033|
|14838693|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      52|         HISPANIC|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|               BREATH|        Positive|             0.193|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   78564|
|14838768|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      20|            ASIAN|        MALE|          NO|SHOULDER & LAP BELT|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|       California|OTHER/OUT OF STATE|   77090|
|14838768|       2|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      55|         HISPANIC|      FEMALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                BLOOD|        Negative|                 0|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   77080|
|14838834|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      20|         HISPANIC|        MALE|          NO|            UNKNOWN|  DEPLOYED, FRONT|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|             UNKNOWN|          Unknown|           UNKNOWN|   79107|
|14838841|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      25|         HISPANIC|      FEMALE|     UNKNOWN|            UNKNOWN|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   79412|
|14838842|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      41|         HISPANIC|      FEMALE|          NO|            UNKNOWN|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   79403|
|14838842|       2|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      34|         HISPANIC|      FEMALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   79401|
|14838866|       1|       1|      DRIVER|        FRONT LEFT|     POSSIBLE INJURY|      44|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|  DEPLOYED, FRONT|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             1|            0|             0|            1|        0|      DRIVER LICENSE|            Texas|           CLASS C|   76705|
|14838877|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      39|            WHITE|        MALE|          NO|               NONE|     NOT DEPLOYED|NOT APPLICABLE|          N|                BLOOD|        Positive|              0.21|                BLOOD|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   76247|
|14838972|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      59|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   78578|
+--------+--------+--------+------------+------------------+--------------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
only showing top 20 rows

TypeError: unsupported operand type(s) for +: 'int' and 'str'